.profile {
  flex: 1 0 auto;
  background-color: #202020;
  display: flex;
  margin-top: 74px;
  justify-content: center;
}

.profile__container {
  max-width: 410px;
  min-width: 320px;
  width: 100%;
  padding-top: 74px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding-right: 4px;
}


.profile__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 124px;
}

.profile__user-name,
.profile__user-email {
  display: flex;
  justify-content: space-between;
}

.profile__user-name {
  border-bottom: solid 1px #424242;
  padding-bottom: 18px;
}

.profile__user-email {
  padding-top: 18px;
}

.profile__label,
.profile__name,
.profile__email {
  color: #FFF;
  font-size: 11px;
  margin: 0;
}

.profile__label {
  font-weight: 500;
}

.profile__name,
.profile__email {
  font-weight: 400;
}

.profile__footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 71px;
  background-color: #202020;
}

.profile__link,
.profile__btn {
  transition: opacity 250ms ease-out;
  font-size: 13px;
}

.profile__link {
  display: block;
  text-decoration: none;
  color: #EE3465;
  font-weight: 500;
}

.profile__btn {
  color: #FFF;
  font-weight: 400;
  border: none;
  padding: 0;
  background-color: #202020;
  margin-bottom: 17px;
  cursor: pointer;
}

.profile__btn:hover {
  opacity: .8;
}

.profile__link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .profile__container {
    margin-top: 163px;
  }

  .profile__data {
    margin-top: 96px;
  }
  .profile__footer {
    padding-bottom: 270px;
  }
}

@media screen and (max-width: 468px) {
  .profile__link,
  .profile__btn {
    font-size: 12px;
  }
}
