.header-section {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 24px;
  border-bottom: solid 1px #DADADA;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 480px) {
  .header-section {
    font-size: 18px;
    padding-bottom: 28px;
  }
}
