.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
}

.profile__container {
  max-width: 410px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

.profile__main {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 76px;
}

.profile__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.profile__data {
  margin-top: 123px;
}

.profile__user-name,
.profile__user-email {
  display: flex;
  justify-content: space-between;
}

.profile__user-name {
  border-bottom: solid 1px #424242;
  padding-bottom: 18px;
}

.profile__user-email {
  padding-top: 18px;
}

.profile__label,
.profile__name,
.profile__email {
  color: #FFF;
  font-size: 11px;
  margin: 0;
}

.profile__label {
  font-weight: 500;
}

.profile__name,
.profile__email {
  font-weight: 400;
}

.profile__footer {
  text-align: center;
  margin-top: 217px;
}

.profile__link,
.profile__btn {
  transition: opacity 250ms ease-out;
  font-size: 13px;
}

.profile__link {
  display: block;
  text-decoration: none;
  color: #EE3465;
  font-weight: 500;
}

.profile__btn {
  color: #FFF;
  font-weight: 400;
  border: none;
  padding: 0;
  background-color: #202020;
  margin-bottom: 17px;
  cursor: pointer;
}

.profile__btn:hover {
  opacity: .8;
}

.profile__link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {

  .profile__main {
    margin-top: 46px;
  }

  .profile__data {
    margin-top: 96px;
  }

  .profile__footer {
    margin-top: 210px;
  }
}

@media screen and (max-width: 440px) {
  .profile__link,
  .profile__btn {
    font-size: 12px;
  }

  .profile__container {
    max-width: 260px;
  }

  .profile__main {
    margin-top: 106px;
  }

  .profile__data {
    margin-top: 80px;
  }

  .profile__footer {
    margin-top: 379px;
  }
}
